@*@model IEnumerable<NextGenInventories_4.Models.InventoryDate>
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Detail List";
}

<h1>Detail List</h1>
<div>
    <h3>InventoryDate</h3>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model=>model.Product)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(modelItem=>modelItem.ToList().ElementAt(0).Product.ProductName)</td>
            </tr>
        </tbody>
    </table>
</div>*@